@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Microsoft Developer Conference</h1>
    <img src="~/Images/microsoft.jpg" width="500" height="500"/>
</div>

<div>
    <ul>
        <li>A virtual platform for you to learn from the experts and connect with the community</li>
        <li>Calling all developers! Get ready to dev-level-up</li>
        <li>The way we work, and live, has changed. We now love in a world of remote everything</li>
    </ul>
</div>

<a class="btn btn-primary" asp-action="RegisterForm"> Register for Microsoft Developer Conference</a>